.header {
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.header__inner {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 45px;
  margin-right: 108px;
}

.header__logo img {
  width: 100%;
  object-fit: contain;
}

.header__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 55px;
}

.header__phone {
  font-size: 14px;
  line-height: 17px;
  color: #2196F3;
  position: relative;
}

.header__phone::before {
  content: url(../img/general/_icons/icon__phone.svg);
  position: absolute;
  top: 3px;
  left: -20px;
}

.header__bascet-wrap {
  display: flex;
  align-items: flex-end;
  min-width: 150px;
}

.header__bascet {
  padding: 12px 53px 12px 34px;
  background: #FFFFFF;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 100px 0px;
  color: #2196F3;
  position: relative;
}

.header__bascet::after {
  content: url(../img/general/_icons/icon__basket.svg);
  position: absolute;
  right: 25px;
  top: 9px;
}

.header__bascet span {
  position: absolute;
  min-width: 12px;
  height: 12px;
  padding: 8px 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 13px;
  top: 0;
  right: 0;
  background-color: #2196F3;
  color: #fff;
}
