@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/avenirnextcyr-demi.woff2") format("woff2");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1780px;
  }
}

@media (max-width: 1252px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 990S 0.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }
}

.header {
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.header__inner {
  margin: 40px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 100px;
  height: 45px;
  margin-right: 108px;
}

.header__logo img {
  width: 100%;
  object-fit: contain;
}

.header__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 55px;
}

.header__phone {
  font-size: 14px;
  line-height: 17px;
  color: #2196F3;
  position: relative;
}

.header__phone::before {
  content: url(../img/general/_icons/icon__phone.svg);
  position: absolute;
  top: 3px;
  left: -20px;
}

.header__bascet-wrap {
  display: flex;
  align-items: flex-end;
  min-width: 150px;
}

.header__bascet {
  padding: 12px 53px 12px 34px;
  background: #FFFFFF;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 100px 100px 100px 0px;
  color: #2196F3;
  position: relative;
}

.header__bascet::after {
  content: url(../img/general/_icons/icon__basket.svg);
  position: absolute;
  right: 25px;
  top: 9px;
}

.header__bascet span {
  position: absolute;
  min-width: 12px;
  height: 12px;
  padding: 8px 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 13px;
  top: 0;
  right: 0;
  background-color: #2196F3;
  color: #fff;
}

.footer {
  background: #F5F5F5;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.footer__info {
  width: 450px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}

.footer__text:first-child {
  padding-bottom: 22px;
  border-bottom: 0.5px solid #2196F3;
  margin-bottom: 17px;
}

.footer__img {
  width: 95px;
  height: 125px;
  object-fit: cover;
}

.footer__phone {
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #2196F3;
  position: relative;
}

.footer__phone::before {
  content: url(../img/general/_icons/icon__phone.svg);
  position: absolute;
  top: 3px;
  left: -20px;
}

.footer__remark {
  display: block;
  background: #E5E5E5;
}

.footer__remark-img {
  width: 100%;
  padding: 43px 0 33px;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 277px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.08);
  margin: 0px 15px 30px 15px;
}

.item__pic {
  position: relative;
  width: 277px;
  height: 186px;
  border-radius: 20px;
  margin-bottom: 22px;
}

.item__pic-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.item__img-mobile, .item__img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.item__img-mobile {
  display: none;
}

.item__info {
  width: 100%;
  padding: 0px 23px 0px 24px;
}

.item__title {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2196F3;
  width: 100%;
  margin-bottom: 10px;
}

.item__list {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 14px 15px 10px 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}

.item__point {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  color: #2196F3;
  position: relative;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 19px;
}

.item__point::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 6px;
  height: 4px;
  width: 4px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #2196F3;
  margin-right: 5px;
}

.item__name {
  max-width: 130px;
  margin-right: 20px;
  color: #444444;
  font-weight: normal;
}

.item__desc {
  max-width: 80px;
  text-align: right;
  font-weight: bold;
}

.item__price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item__price-new {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
  margin-right: 17px;
}

.item__price-old {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #2196F3;
  text-decoration: line-through;
}

.item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  margin-left: 0 auto 20px;
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #2196F3;
  border-radius: 100px;
  position: relative;
  margin-bottom: 20px;
}

@media (min-width: 1919.98px) {
  .item {
    width: 397px;
  }
  .item__pic {
    width: 397px;
    height: 266px;
  }
  .item__title {
    font-size: 24px;
    line-height: 29px;
  }
  .item__list {
    font-size: 18px;
    line-height: 22px;
  }
  .item__price-new {
    font-size: 36px;
    line-height: 44px;
  }
  .item__price-old {
    font-size: 22px;
    line-height: 28px;
  }
  .item__btn {
    width: 100%;
    height: 55px;
    font-size: 18px;
    line-height: 22px;
    background: linear-gradient(152.21deg, #2196F3 26.24%, #5C76FF 102.67%);
  }
}

@media (max-width: 990.98px) {
  .item {
    width: 143px;
    margin: 0px 10px 20px 10px;
  }
  .item__pic {
    margin-top: 14px;
    width: 108px;
    height: 108px;
    border-radius: 0px;
    margin-bottom: 1px;
  }
  .item__img {
    display: none;
  }
  .item__img-mobile {
    display: block;
  }
  .item__info {
    padding: 0px 18px 0 17px;
  }
  .item__title {
    margin: 0px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  .item__list {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 2px;
  }
  .item__point {
    display: none;
    flex-wrap: wrap;
    padding-left: 12px;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
  }
  .item__point:first-child {
    display: flex;
  }
  .item__name {
    margin-right: 0px;
  }
  .item__desc {
    text-align: center;
  }
  .item__price {
    justify-content: flex-start;
    margin-bottom: 6px;
  }
  .item__price-new {
    font-size: 14px;
    line-height: 30px;
    color: #2196F3;
  }
  .item__price-old {
    display: none;
  }
  .item__btn {
    width: 108px;
    height: 40px;
    font-size: 0;
    line-height: 0;
    background-color: #fff;
    border: 1px solid #2196F3;
    margin-bottom: 18px;
    position: relative;
  }
  .item__btn::before {
    content: url(../img/general/_icons/icon_plus.svg);
    position: absolute;
    top: 13px;
    left: 30px;
    color: #2196F3;
    z-index: 10;
  }
  .item__btn::after {
    content: url(../img/general/_icons/icon__basket.svg);
    position: absolute;
    top: 11px;
    right: 32px;
    z-index: 10;
  }
}

@media (max-width: 639.98px) {
  .item {
    margin: 0px 5px 20px 5px;
  }
}

body {
  background: url(../img/general/bg-plant.svg) left top, url(../img/general/bg-person.svg) right center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.top__inner {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__title {
  text-align: center;
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #444444;
  margin-bottom: 42px;
}

.top__form {
  display: flex;
  box-shadow: 7px 7px 30px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  border: 1px solid #2196F3;
  background-color: #fff;
  position: relative;
  margin: 0 auto 80px;
  width: 790px;
  height: 60px;
}

.top__form::before {
  content: url(../img/general/_icons/icon__loupe.svg);
  position: absolute;
  z-index: 5;
  top: 18px;
  left: 22px;
}

.top__form-input {
  display: flex;
  align-items: center;
  border-radius: 100px 10px 0px 100px;
  position: relative;
  font-family: "Avenir Next Cyr";
  width: 100%;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 0px 15px 75px;
}

.top__form-input::placeholder {
  font-family: "Avenir Next Cyr";
  color: #595959;
  opacity: 0.5;
  font-size: 24px;
  line-height: 29px;
}

.top__form-button {
  background: #2196F3;
  font-family: "Avenir Next Cyr";
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 200px 100px 100px 0px;
  width: 218px;
  font-size: 24px;
  line-height: 29px;
}

.top__instruction {
  display: flex;
  justify-content: center;
  margin-bottom: 248px;
}

.top__step {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top .top__step:first-child {
  margin: 0 94px 0 0;
}

.top__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120.93px;
  height: 172.76px;
  padding: 17px 0px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}

.top__card-1 {
  position: relative;
}

.top__card-1::before {
  content: url(../img/3__bg.1.svg);
  position: absolute;
  top: 60px;
  left: -25px;
  z-index: -1;
}

.top__card-1::after {
  content: url(../img/3__bg.midle.png);
  position: absolute;
  top: 70px;
  right: -200px;
}

.top__card-img {
  margin-bottom: 42px;
  position: relative;
}

.top__card-img::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 5px;
  border-radius: 100px;
  background-color: rgba(143, 143, 143, 0.383);
  bottom: -18px;
  left: calc(50% - 31px);
}

.top__card-img::after {
  content: '';
  position: absolute;
  width: 86px;
  height: 5px;
  border-radius: 100px;
  background-color: rgba(143, 143, 143, 0.383);
  bottom: -30px;
  left: calc(50% - 43px);
}

.top__img {
  object-fit: contain;
}

.top__card-btn {
  background: linear-gradient(148.88deg, #2196F3 26.24%, #5C76FF 102.67%);
  box-shadow: 2px 2px 5px rgba(33, 150, 243, 0.25);
  border-radius: 100px;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 7px;
  line-height: 9px;
  color: #fff;
  padding: 4px 27px;
}

.top__card-btn::after {
  content: url(../img/3__cursor.svg);
  position: absolute;
  border-radius: 100px;
  opacity: 0.5;
  bottom: 10px;
  left: 80px;
}

.top__card-btn-1::after {
  content: url(../img/3__cursor.svg);
  position: absolute;
  border-radius: 100px;
  opacity: 0.5;
  bottom: 10px;
  left: 80px;
}

.top__card-btn-2::after {
  content: url(../img/3__cursor.svg);
  position: absolute;
  border-radius: 100px;
  opacity: 0.5;
  bottom: 33px;
  left: 76px;
}

.top__card-desc {
  font-family: "Avenir Next Cyr";
  font-weight: 450;
  font-size: 18px;
  line-height: 22px;
  color: #444444;
  text-align: center;
}

.top__card-2 {
  position: relative;
}

.top__card-2::before {
  content: url(../img/3__bg.2.svg);
  position: absolute;
  top: 60px;
  left: -25px;
  z-index: -1;
}

.top__card-2-btn {
  margin-top: 10px;
  border: 0.5px solid #2196F3;
  box-sizing: border-box;
  box-shadow: 2px 2px 4px rgba(33, 150, 243, 0.25);
  border-radius: 100px;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 7px;
  line-height: 9px;
  color: #2196F3;
  padding: 4px 24px;
}

.product__inner {
  margin-bottom: 108px;
}

.product__title {
  font-family: "Gilroy";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: rgba(68, 68, 68, 0.75);
  margin-bottom: 42px;
}

.product__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -20px;
}

@media (max-width: 990.98px) {
  .header__form {
    width: 400px;
    height: 44px;
  }
  .footer__info {
    max-width: 250px;
    justify-content: flex-start;
  }
  .footer__text:first-child, .footer__text:nth-child(2), .footer__text:nth-child(3) {
    border-bottom: none;
    padding: 0;
    margin-bottom: 30px;
  }
  .footer__img {
    display: none;
  }
}

@media (max-width: 639.98px) {
  .header__form {
    width: 100%;
    height: 40px;
  }
  .header__form::before {
    content: '';
  }
  .header__phone {
    display: none;
  }
  .header__form-input {
    width: 100%;
    border-radius: 100px 10px 0px 100px;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 0px 0px 20px;
  }
  .header__form-input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .header__form-button {
    width: 49px;
    border-radius: 0px 100px 100px 0px;
    font-size: 0px;
    position: relative;
  }
  .header__form-button::before {
    content: url(../img/3__loupe-fff.svg);
    position: absolute;
    top: 11px;
    right: 12px;
    z-index: 5;
  }
  .footer {
    background: #F5F5F5;
  }
  .footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0;
  }
  .footer__logo {
    display: none;
  }
  .footer__info {
    justify-content: flex-start;
    background: url(../img/mobile-bg__plant.svg) right no-repeat;
    padding-bottom: 37px;
    margin-bottom: 30px;
    position: relative;
  }
  .footer__info::before {
    content: '';
    position: absolute;
    width: 450px;
    height: 1px;
    background-color: #535461;
    opacity: 0.5;
    bottom: 0;
    left: -170px;
  }
  .footer__text:first-child,
  .footer__text:nth-child(2) .footer__text:nth-child(3) {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 30px;
  }
  .footer__remark {
    display: none;
  }
}

@media (max-width: 419.98px) {
  .header {
    font-size: 10px;
    line-height: 12px;
  }
  .header__logo {
    width: 64px;
    height: 29px;
    margin-right: 0px;
  }
  .header__bascet-wrap {
    min-width: 110px;
    height: 29px;
  }
  .header__bascet {
    padding: 8px 42px 8px 23px;
    background: #FFFFFF;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
    border-radius: 100px 100px 100px 0px;
    color: #535461;
    position: relative;
  }
  .header__bascet::after {
    content: url(../img/general/_icons/bascet_mobile.svg);
    position: absolute;
    right: 25px;
    top: 9px;
  }
  .header__head {
    margin-right: 25px;
  }
}

@media (min-width: 1919.98px) {
  .top__form {
    width: 825px;
  }
  .product__title {
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: 990.98px) {
  .top__form {
    width: 700px;
  }
  .top__instruction {
    margin-bottom: 190px;
  }
  .item {
    margin: 0px 25px 30px 25px;
  }
}

@media (max-width: 767.98px) {
  .top__form {
    width: 600px;
  }
  .item {
    margin: 0px 5px 30px 5px;
  }
}

@media (max-width: 639.98px) {
  body {
    background: none;
  }
  .header__phone {
    display: none;
  }
  .top__inner {
    padding-top: 77px;
  }
  .top__title {
    max-width: 220px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
  }
  .top__form {
    margin-bottom: 59px;
    width: 100%;
    height: 40px;
  }
  .top__form::before {
    content: '';
  }
  .top__form-input {
    width: 100%;
    border-radius: 100px 10px 0px 100px;
    font-size: 14px;
    line-height: 17px;
    padding: 0px 0px 0px 20px;
  }
  .top__form-input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .top__form-button {
    width: 49px;
    border-radius: 0px 100px 100px 0px;
    font-size: 0px;
  }
  .top__form-button::before {
    content: url(../img/3__loupe-fff.svg);
    position: absolute;
    top: 11px;
    right: 12px;
    z-index: 5;
  }
  .top__instruction {
    margin-bottom: 78px;
  }
  .top__step {
    width: 149px;
  }
  .top .top__step:first-child {
    margin: 0 12px 0 0;
  }
  .top__card {
    width: 110px;
    padding: 8px 0px;
  }
  .top__card-1::after {
    content: '';
  }
  .top__card-img {
    width: 43px;
  }
  .top__card-btn {
    font-size: 7px;
    line-height: 9px;
  }
  .top__card-btn::after {
    bottom: 10px;
    left: 80px;
  }
  .top__card-btn-1::after {
    bottom: 20px;
    left: 80px;
  }
  .top__card-btn-2::after {
    bottom: 43px;
    left: 76px;
  }
  .top__card-desc {
    font-size: 9px;
    line-height: 11px;
  }
  .product {
    display: none;
  }
}
