@media (max-width: 1919.98px) {
}   
//------------------------------------------------------
@media (max-width: 1251.98px) {

}
//------------------------------------------------------
@media (max-width: 1023.98px) {
}  
//------------------------------------------------------
@media (max-width: 990.98px) {
}
//------------------------------------------------------
@media (max-width: 767.98px) {
}
//------------------------------------------------------
@media (max-width: 639.98px) {
  .modal-go-bascet { 
    width: 282px;
    padding: 32px 21px 32px 21px;
    &__text {
       display: flex;
       flex-direction: column;
     font-size: 18px;
     line-height: 30px;
    }
  &__btn-wrap {
     flex-wrap: wrap;
}
&__btn-1 {
  margin-bottom: 20px;
}
 }
}
//------------------------------------------------------
@media (max-width: 419.98px) {
}