//<ШРИФТЫ>================================================================
	@import "../../scss_pages/_fonts.scss";
	$fontfamily : 'Avenir Next Cyr';
//</ШРИФТЫ>===============================================================


//<ПЕРЕМЕННЫЕ>=========================

	//<РАЗРЕШЕНИЕ>-----
		$minwidth: 320px;
		$mm: 1920;
		$mw: 1240;
		$md1: $mw + 12;
		$md2: 990.98;
		$md3: 767.98;
		$md4: 479.98;
	//</РАЗРЕШЕНИЕ>-----
	//<ШРИФТ>-----
		$Avenir :'Avenir Next Cyr';
		$Gilroy : 'Gilroy';
	//</ШРИФТ>-----

	//<ЦВЕТ>-------
		$ocean: #2196F3;
	//</ЦВЕТ>------
//</ПЕРЕМЕННЫЕ>=========================


//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>=============================================
	@import "../../scss_pages/_null.scss";
	body {
		color: #000;
		font-size: 14px;
		font-family: $Avenir;
		position: relative;
	}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================================


//<ОСНОВНАЯ СЕТКА>=============================================================
.container {
	max-width:  $mw + px;
	margin: 0 auto;
	width: 100%;
	padding: 0px 20px;
	@media (min-width: $mm+px) {
		max-width: 1780px;
		padding: 0 20px;
	}
	 @media (max-width: $md1+px) {
	 	max-width: 1070px;
	 }
	 @media (max-width: $md2+px) {
	 	max-width: 750px;
	 }
	 @media (max-width: $md3+px) {
	 	max-width: none;
	 	padding: 0 10px;
	 }
}
//</ОСНОВНАЯ СЕТКА>==================================================================


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============
	@import "../../scss_pages/_header.scss";
	@import "../../scss_pages/_footer.scss";
	@import "../../scss_pages/_card-1.scss";   
	
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==============


//<ОБЩИЕ КЛАССЫ>===============================================================

.thanks {
	// .thanks__inner
	&__inner {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .thanks__title
	&__title {
		max-width: 425px;
		font-family: $Gilroy;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		background: linear-gradient(150.59deg, #2196F3 26.24%, #5C76FF 102.67%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
		text-align: center;
		margin-bottom: 40px;
	}
	// .thanks__link
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 225px;
		height: 42px;
		background: linear-gradient(150.59deg, #2196F3 26.24%, #5C76FF 102.67%);
		box-shadow: 4px 4px 15px rgba(33, 150, 243, 0.1);
		border-radius: 100px;
		font-size: 14px;
		line-height: 17px;
		color: #fff;
		margin-bottom: 80px;
	}
	// .thanks__subtitle
	&__subtitle {
		font-family: $Gilroy;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: rgba(0, 0, 0, 0.65);
		margin-bottom: 28px;
	}
	// .thanks__items
	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px 120px -15px;
	}
}

//</ОБЩИЕ КЛАССЫ>==============================================================


//<ОСНОВНОЙ БЛОК>==============================================================
//</ОСНОВНОЙ БЛОК>=============================================================
//<MEDIA>===============
@import "../../scss_pages/_media__ftr.hdr.scss";
@import "_thanks_media.scss";

//</MEDIA>===============