@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Gilroy-Semibold.woff") format("woff"), url("../../fonts/Gilroy-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Avenir Next Cyr';
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../../fonts/avenirnextcyr-demi.woff2") format("woff2");
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Gilroy-Medium.woff") format("woff");
}
